/*Configuracion general*/
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* PALETA DE COLORES */
:root {
  --blanco: #fffcfa;
  --gris-fondo: #e7e7e7;
  --rosita: #ffe5c6;
  --naranja: #ffa500;
  --verde-fuerte: #39ff14;
  --negro-verdoso: #071a03;
}


img { size: 100% }


/* BODY */
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
main
{
  margin-top: 40px;
}


/* NAV-BAR */
.nav {
  height: 60px;/*PROVISIONAL*/
  background-color: var(--negro-verdoso);
  padding: 15px 2% 15px 3%;
  width: 100%;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* lista que contiene los elementos del nav */
.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

/* título del nav */
.nav-logo-titulo {
  text-decoration: none; 
  font-size: 1.5em;
  color: var(--naranja);
}
.nav-logo-titulo:hover{
  text-decoration: underline;
}
.nav-logo-titulo i{
  margin-right: 3px;
}

/* links del nav */
.nav-link {
  background-color: var(--verde-fuerte);
  border-radius: 5px;
  color: var(--negro-verdoso);
  font-size: 1em;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
}

/* efecto aplicado a los links de la navbar cuando se hace hover sobre ellos */
.nav-link:hover {
  background-color: var(--naranja);
  color: var(--negro-verdoso);
  transition: all 250ms;
}






/* --- BUSCADOR DE RESEÑAS --- */
/* contenedor del formulario "buscador" (input + botón) */
.buscador {
  display: flex;
  align-items: center;
}

/* estilos del input para buscar */
.input-search {
  /* flex-grow: 1; */ /*TODOS LOS FLEX-ITEMS TIENEN FLEX-GROW 1 POR DEFECTO*/
  border-radius: 25px 0px 0px 25px;
  /* font-size: 12px; */ /*CAMBIARLE EL FONT-SIZE HACÍA QUE NO QUEDE ALINEADO CON EL BOTÓN*/
}

/* estilos del botón */
.button-submit {
  border-radius: 0px 25px 25px 0px;
  background-color: var(--verde-fuerte);
}

/* estilos iguales tanto en el input como en el botón */
.input-search, .button-submit {
  padding: 5px 10px;
  border: none;
}

.button-submit:hover {
  background-color: var(--naranja);
  color: var(--blanco);
  transition: all 250ms;
}



/* FOOTER */
.footer {
  background-color: var(--negro-verdoso);
  color: var(--blanco);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegacionFooter {
  display: flex;
  align-items: center;
  color: var(--rosita); 
}
.navegacionFooter a {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
  font-size: 14px;
}
.navegacionFooter a:hover {
  color: var(--verde-fuerte);
}
.footer p {
  font-size: 14px;
  margin-right: 20px;
}
.footer ul {
  list-style: none;
  margin: 0; 
  padding: 0; 
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}
.flechaSubir {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  text-decoration: none;
  color: var(--naranja);
}

@media screen and (max-width: 780px){
  .navegacion{
    display: none;
  }
}