header{
    width: 100%;
}


/*COLORES
#fffcfa
#ffe5c6
#ffa500
#071a03
#39ff14*/
/*-----------------------------------------------------------------------------------------------------*/
/*ASIDE*/
aside{
    width: 25%;

    height: 276vh; /*Esto es una truchada, tengo que hacerlo mejor*/
    float: right;
    background-color:#e7e7e7;
}

.divAside{
    height: auto;
    min-height: 30%;
    background-color: #ffa500;  
    margin: 20px 2%;
    border-radius: 20px;
}

.divAside h3{
    font-size: 1.4em;
    text-align: center;
    padding: 10px 0px;
}

.divAside ul{
padding-bottom: 200px;/*provisional*/
}

.divAside ul li{
    list-style-type: circle;
    list-style-position: inside;
    line-height: 1.3em;
    font-size: 1.1em;
    padding: 15px 10px;
    color: #071a03;
}

.divAside p /*ESTO ES DE UN PLACEHOLDER, BORRAR*/
{
    padding-bottom: 100px;
    color: #071a03;
}


/*-----------------------------------------------------------------------------------------------------*/

/*MAIN*/
main{
    width: 75%;
    float: left;
    /*margin-bottom: 20px;*/
    padding-left: 10%;
    background-color: #e7e7e7;
    
}

.contenidoResenia{
    background-color: #fffcfa;
    border-radius: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;

}

/*titulos*/
.divTitulos{
    margin: 20px 5%;

}

h1{
    color: #ffa500;
    padding: 20px 0px 10px 0px;
}

h2{
    /*color: #ffd078;*/
    font-size: 1.55em;
}




/*parrafos*/
.textoResenia
{
    /*width: 95%;*/
    padding: 15px 15px; /*padding?? margin??*/
    margin: 0px 0.5%;
    
}

p{
    font-size: 1.1em;
    text-indent: 1em;
}

.textoResenia p{
    margin: 20px 0px;
    background-color: #fffcfa;
}



/*imagenes*/
.contenedorImg{

    /*background-color: #ffa500;*/
    min-height: 100px;
    /*width: 70%;*/
    /*margin: 0px 7%;*/
    
    display: flex;
    align-content: center;
    align-items: center;
}

.contenedorImg img{
    width: auto;
    height: 200px;/*HACER ESTO PERO RESPONSIVE*/
    margin: 0px 5%;
    
    border-radius: 10px;    
}




/*nota final*/
#conclusionYNota{
    margin: 10px 10%;
    
    width: 80%;
    min-height: 250px;

    background-color: #071a03;
    border-radius: 20px 20px 100px 100px;

    display: flex;
    align-items: center;

}

#notaFinal{
    
    padding-left: 3%;

    width: auto;
    display: inline-block;
}

#notaFinal h3{
    color: #ffa500;
    font-size: 1.4em;
    
    padding-left: 15%;
    padding-bottom: 10px;
 
}

#contenedorNota {
    width : 5em;
    height: 5em;
    margin: auto;

    background-color: #39ff14;
    border-radius: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contenedorNota span{
    font-size: 1.3em;
    
}

#sintesis{
    max-width: 80%;
    margin: 0px 5%; 
    display: inline-block;
}

#sintesis p
{
    color:#ffa500;
    text-indent: 0px;
}


/*TARJETAS DE RESEÑAS RECOMENDADAS*/
.tarjetasReseniasRecomendadas{
height: 300px;
background-color: crimson;

}